<div class="container">
  <p-card>
  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Pessoas</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <input pInputText type="text" placeholder="Digite um nome para pesquisar" >
    </div>

    <div class="ui-g-12">
      <button icon="pi pi-search" iconPos="left" class="ui-button-rounded ui-button-raised" pButton type="submit" label="Pesquisar"></button>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">

        <app-pessoas-grid [pessoas]=pessoas></app-pessoas-grid>

      </div>

      <div class="ui-g-12">
        <a icon="pi pi-file-o" iconPos="left" class="ui-button-raised" pButton label="Nova Pessoa"></a>
      </div>

    </div>

  </div>
</p-card>
</div>
