<div class="container">
    <div class="ui-g">
        <div class="ui-g-12">
            <h1>Usuários</h1>

            <div>
                <form autocomplete="off">
                    <div class="ui-g-12 ui-fluid">
                        <label>Usuario</label>
                        <input pInputText type="text" placeholder="Pesquisa de usuário">
                    </div>

                    <div class="ui-g-12">
                        <button icon="pi pi-search" iconPos="left" class="ui-button-rounded ui-button-raised" pButton type="submit" label="Pesquisar"></button>
                      </div>
                </form>
            </div>


            <div class="ui-g-12">
                <div class="ui-g-12">
                    <p-table [value]="usuarios"
                    [responsive]="true"
                    [paginator]="true"
                    [rows]="filtro.itensPorPagina">
                        <ng-template pTemplate="emptymessage">
                            Nenhum lançamento encontrado
                          </ng-template>
                          <ng-template pTemplate="header">
                            <tr>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th class="col-data-header">Ações</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-usuario>
                            <tr>
                                <td>{{ usuario.nome }}</td>
                                <td>{{ usuario.email }}</td>
                                <td>
                                    <a class="ui-button-raised" pButton icon="pi pi-pencil" style="margin-right: 5px;" pTooltip="Editar registro"></a>
                                    <a class="ui-button-raised" pButton icon="pi pi-trash" style="margin-right: 5px;" pTooltip="Excluir registro"></a>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="ui-g-12">
                    <a icon="pi pi-user-plus" iconPos="left" class="ui-button-raised" pButton label="Novo Usuário" routerLink="/usuarios/cadastro"></a>
                  </div>
            </div>


        </div>
    </div>
</div>