<nav class="navbar">

  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript: ;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navlbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">{{ auth.jwtPayLoad?.nome }}</li>

    <li class="navbar-menuitem" routerLinkActive="ativo"
    *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')" (click)="exibindoMenu = !exibindoMenu"><a routerLink="/dashboard">Dashboard</a></li>

    <li class="navbar-menuitem" routerLinkActive="ativo"
    *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')" (click)="exibindoMenu = !exibindoMenu"><a routerLink="/lancamentos">Lançamentos</a></li>

    <li class="navbar-menuitem" routerLinkActive="ativo"
    *ngIf="auth.temPermissao('ROLE_PESQUISAR_PESSOA')" (click)="exibindoMenu = !exibindoMenu"><a routerLink="/pessoas">Pessoas</a></li>

    <li class="navbar-menuitem" routerLinkActive="ativo"
    *ngIf="auth.temPermissao('ROLE_PESQUISAR_PESSOA')" (click)="exibindoMenu = !exibindoMenu"><a routerLink="/usuarios">Usuários</a></li>

    <li class="navbar-menuitem" routerLinkActive="ativo"
    *ngIf="auth.temPermissao('ROLE_PESQUISAR_CATEGORIA')" (click)="exibindoMenu = !exibindoMenu"><a routerLink="/categorias">Categorias</a></li>

    <li class="navbar-menuitem" routerLinkActive="ativo"
    *ngIf="auth.temPermissao('ROLE_PESQUISAR_CATEGORIA')" (click)="exibindoMenu = !exibindoMenu"><a routerLink="/cidades">Cidades</a></li>

    <li class="navbar-menuitem" routerLinkActive="ativo"
    *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')" (click)="exibindoMenu = !exibindoMenu"><a routerLink="/relatorios/lancamentos">Relatórios</a></li>

    <li class="navbar-menuitem" routerLinkActive="ativo"><a href="javascript: ;" (click)="logout()">Logout</a></li>
  </ul>

</nav>
