<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar();">

      <div class="ui-g-12">
        <h1>Lançamentos</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" pTooltip="Informe a descrição" name="descricao"[(ngModel)]="filtro.descricao">
      </div>

      <div class="ui-g-12">
        <label style="display: block;">Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [readonlyInput]="false"
        [showIcon]="true"
        [inputStyle]="{width: '95px'}"
        name="vencimentoInicio"
        [(ngModel)]="filtro.dataVencimentoInicio"
      ></p-calendar>

        <label>Até</label>

        <p-calendar dateFormat="dd/mm/yy" [readonlyInput]="false"
        [showIcon]="true"
        [inputStyle]="{width: '95px'}"
        name="vencimentoFim"
        [(ngModel)]="filtro.dataVencimentoFim"
      ></p-calendar>

      </div>

      <div class="ui-g-12">
        <button icon="pi pi-search" iconPos="left" class="ui-button-rounded" pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">

      <!--<app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid>-->
      <p-table [value]="lancamentos"
      [paginator]="true"
      [rows]="filtro.itensPorPagina"
      [lazy]="true" [totalRecords]="totalRegistros"
      (onLazyLoad)="aoMudarPagina($event)"
      [responsive]="true">
        <ng-template pTemplate="emptymessage">
          Nenhum lançamento encontrado
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Pessoa</th>
                <th>Descrição</th>
                <th class="col-data-header">Vencimento</th>
                <th class="col-data-header">Pagamento</th>
                <th class="col-valor-header">Valor</th>
                <th class="col-data-header"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamento>
            <tr>
                <td>
                  <span class="ui-column-title">Pessoa</span>
                  {{lancamento.pessoa}}
                </td>

                <td>
                  <span class="ui-column-title">Descrição</span>
                  {{lancamento.descricao}}
                </td>

                <td class="col-data-content">
                  <span class="ui-column-title">Vencimento</span>
                  {{lancamento.dataVencimento | date: 'dd/MM/y'}}
                </td>

                <td class="col-data-content">
                  <span class="ui-column-title">Pagamento</span>
                  {{lancamento.dataPagamento | date: 'dd/MM/y'}}
                </td>

                <td class="col-valor-content">
                  <span class="ui-column-title">Valor</span>
                  <span [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'blue'">
                    {{lancamento.valor | currency: 'BRL'}}</span>
                </td>
                <td class="col-acoes">
                  <a pButton icon="pi pi-pencil" style="margin-right: 5px;" pTooltip="Editar registro"></a>
                  <button pButton icon="pi pi-trash" pTooltip="Remover registro"></button>
              </td>
            </tr>
        </ng-template>
      </p-table>

    </div>

    <div class="ui-g-12">
      <a icon="pi pi-file-o" iconPos="left" pButton label="Novo lançamento"></a>
    </div>

  </div>

</div>
