<div class="container">
  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Descrição</label>
      <input pInputText type="text" placeholder="Descrição" pTooltip="Informe a descrição">
    </div>

    <div class="ui-g-12">
      <label style="display: block;">Vencimento</label>
      <input pInputText type="text" style="width: 95px;">

      <label>Até</label>
      <input pInputText type="text" style="width: 95px;">
    </div>

    <div class="ui-g-12">
      <button icon="pi pi-search" iconPos="left" class="ui-button-rounded" pButton type="submit" label="Pesquisar"></button>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">

      <app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid>

    </div>

    <div class="ui-g-12">
      <a icon="pi pi-file-o" iconPos="left" pButton label="Novo lançamento"></a>
    </div>

  </div>

</div>
