<div class="container">
  <!--<form #f="ngForm" (ngSubmit)="salvar(f)"> -->
    <form (ngSubmit)="salvar()" [formGroup]="formulario">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de ' : 'Novo ' }}Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton name="tipoLancamento" [options]="tipos" 
        formControlName="tipoLancamento">
      </p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-sm-8 ui-fluid">
        <label>Vencimento</label>
        <p-calendar name="dataVencimento" dateFormat="dd/mm/yy"
        [readonlyInput]="true"
        [showIcon]="true"
        formControlName="dataVencimento"
        ></p-calendar>

        <app-message [control]="formulario.get('dataVencimento')" error="required" text="Informe um vencimento."></app-message>

      </div>

      <div class="ui-g-6 ui-md-3 ui-sm-8 ui-fluid">
        <label>{{ formulario.get('tipoLancamento').value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        
        <p-calendar name="dataPagamento" dateFormat="dd/mm/yy"
        [readonlyInput]="true"
        [showIcon]="true"
        formControlName="dataPagamento"
        ></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" autocomplete="disabled" name="descricao"
        formControlName="descricao">

        <app-message [control]="formulario.get('descricao')" error="obrigatoriedade" text="Informe uma descrição (Obrigatória)."></app-message>
        <app-message [control]="formulario.get('descricao')" error="tamanhoMinimo" text="MM Mínimo de {{ formulario.get('descricao').errors?.tamanhoMinimo?.tamanho }} caracteres"></app-message>

      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" placeholder="0,00" name="valor"
        currencyMask
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
        formControlName="valor">
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="categoria">
        <label>Categoria</label>
        <p-dropdown name="categoria" [options]="categorias" placeholder="Selecione" [filter]=true formControlName="codigo"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="pessoa">
        <label>Pessoa</label>
        <p-dropdown name="pessoa" [options]="pessoas" placeholder="Selecione" [filter]=true  itemSize="50"
        formControlName="codigo"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3"
        name="observacao"
        formControlName="observacao"></textarea>
      </div>

      <div class="ui-g-6 ui-g-offset-6 ui-md-2 ui-md-offset-10 ui-fluid" *ngIf="!formulario.get('anexo').value">
        <p-fileUpload name="anexo" mode="basic" auto="true" maxFileSize="1048576"
        chooseLabel="Anexar" accept="image/*,application/*" [url]="urlUploadAnexo"
        (onBeforeUpload)="antesUploadAnexo()"
        (onUpload)="aoTerminarUploadAnexo($event)"
        (onError)="erroUpload($event)"
        [hidden]="uploadEmAndamento"></p-fileUpload>

      <p-progressSpinner [style]="{ width: '25px', height: '25px' }" [hidden]="!uploadEmAndamento"></p-progressSpinner>
      </div>

      <div class="ui-g-12 ui-fluid" *ngIf="formulario.get('anexo').value" dir="rtl">

        <button class="ui-button-danger ui-button-raised" pButton type="button" icon="pi pi-times-circle"
        pTooltip="Remover anexo" tooltipPosition="top"
        (click)="removerAnexo()"></button>

        <a target="_blank" oTooltip="Baixar anexo" tooltipPosition="top"
        [href]="formulario.get('urlAnexo').value">{{ nomeAnexo }}</a>
      </div>

      <div class="ui-g-12">
        <button icon="pi pi-check" iconPos="left" pButton type="submit" label="Salvar" class="ui-button-raised" 
        [disabled]="formulario.invalid || uploadEmAndamento" ></button>

        <button icon="pi pi-file-o" iconPos="left" pButton type="button" label="Novo" 
        (click)="novo()" class="ui-button-secondary ui-button-raised"></button>
        <a routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>

    </div>

  </form>
</div>
